body {
    margin: 0;
    padding: 0;
}
.dynamicImage{
    width: 100%;
    height: 100%;
    position: relative;
}
.nad{
    margin-top: 5%; /* Располагаем вверху страницы */
    left: 25%; /* Располагаем в левом углу страницы */
    position: absolute;
    max-height: 50%;
    max-width: 50%;
}